/* Typography */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --green: #4d96a9;
  --purple: #855fb1;
  --light-purple: #b18bdd;
  --very-dark-purple: #28283d;
  --dark-grey: #87879d;
  --turquoise: #8fe3f9;
  --pink: #d9b8ff;
  --white: #fafafa;

  --ff-red-hat-display: "Red Hat Display", sans-serif;
}
h1 {
  font-size: 4rem;
  color: var(--very-dark-purple);
  font-weight: 900;
  margin: 0;
}
h2 {
  font-size: 3.2rem;
  color: var(--very-dark-purple);
  font-weight: 900;
  margin: 0;
}
h3 {
  font-size: 1.6rem;
  color: var(--green);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin: 0;
}
p {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--dark-grey);
  margin: 0;
}
@media screen and (min-width: 700px) {
  h1 {
    font-size: 4.8rem;
  }
  h2 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1000px) {
  h1 {
    font-size: 6.4rem;
  }
  h2 {
    font-size: 4rem;
  }
  p {
    font-size: 1.8rem;
  }
}
/* Images */
img {
  width: 100%;
}
/* Header Logo */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4.8rem 12.8rem 5.4rem;
  width: 11.9rem;
  height: 2.8rem;
}
@media screen and (min-width: 700px) {
  .logo {
    margin: 4.8rem 32.5rem 6.4rem;
  }
}
@media screen and (min-width: 1000px) {
  .logo {
    margin: 8rem 66rem 6.1rem;
  }
}
/* Hero Container */
.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  position: relative;
  height: 45rem;
}
.hero-image_left {
  position: absolute;
  width: 20rem;
  height: 15.3rem;
  left: -6%;
}
.hero-image_right {
  position: absolute;
  width: 20rem;
  height: 15.3rem;
  right: -6%;
}
.hero-feature {
  text-align: center;
  grid-column: -3 / -1;
  margin: auto;
}
.feature__heading {
  margin: 0 6rem 2.4rem;
}
.feature__text {
  margin: 0 6rem 3.2rem;
}
@media screen and (min-width: 760px) {
  .hero-image_left {
    width: 39.4rem;
    height: 30.3rem;
  }
  .hero-image_right {
    width: 39.4rem;
    height: 30.3rem;
  }
  .hero-container {
    height: 55rem;
  }
  .feature__heading {
    margin: 0 22rem 2.4rem;
  }
  .feature__text {
    margin: 0 20rem 3.2rem;
  }
}
@media screen and (min-width: 1000px) {
  .hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0;
    height: 25rem;
  }
  .hero-image_left {
    left: -2%;
  }
  .hero-image_right {
    right: -2%;
  }
  .hero-feature {
    text-align: center;
    grid-column: 2 / 3;
    margin: auto;
  }
  .feature__heading {
    margin: 0 5rem 2.4rem;
  }
  .feature__text {
    margin: 0 1rem 3.2rem;
  }
}
/* Buttons */
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn {
  border: none;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
}
.btn-one {
  background-color: var(--green);
  color: var(--white);
  width: 19.3rem;
  height: 5.8rem;
  padding: 1.6rem 4rem;
  margin-bottom: 3.2rem;
}
.btn-two {
  background-color: var(--purple);
  color: var(--white);
  width: 13.9rem;
  height: 5.8rem;
  padding: 1.6rem 2.9rem;
  margin-bottom: 3.2rem;
}
.btn-accent {
  background-color: var(--purple);
  color: var(--white);
  width: 13.9rem;
  height: 5.8rem;
  padding: 2rem 1.6rem;
  margin-bottom: 7.2rem;
}
.version {
  opacity: 60%;
  margin-left: 0.5rem;
}
.btn-one:hover {
  background-color: var(--turquoise);
}
.btn-two:hover {
  background-color: var(--light-purple);
}
.btn-accent:hover {
  background-color: var(--light-purple);
}
@media screen and (min-width: 760px) {
  .button-container {
    flex-direction: row;
  }
  .btn-one {
    margin-right: 1.6rem;
  }
}
/* Vertical Line with Circle*/
.vertical-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4.3rem;
}
.vl {
  border-left: 1px solid var(--dark-grey);
  height: 8.4rem;
}
.circle {
  border-radius: 100%;
  border: 1px solid var(--dark-grey);
  padding: 1.5rem;
  margin-bottom: 6.7rem;
  background-color: var(--white);
}
.cr {
  color: var(--dark-grey);
  font-weight: 700;
}
/* Image Container */
.image-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  margin: 0 2.4rem 6.4rem;
}
.grid-image {
  border-radius: 10px;
}
@media screen and (min-width: 700px) {
  .image-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
    margin: 0 4rem 4.8rem;
  }
}
@media screen and (min-width: 1000px) {
  .image-container {
    gap: 2rem;
    margin: 0 16.5rem 8rem;
  }
}
/* Article */
.article-card {
  text-align: center;
  margin: 0 2.4rem 15rem;
}
.article--heading-one {
  padding: 0rem 2rem 2.4rem;
}
.article--heading-two {
  padding: 0rem 1rem 3.2rem;
}
.article-text {
  padding: 0 1.5rem;
}
@media screen and (min-width: 700px) {
  .article-card {
    margin: 0 9.8rem 8rem;
  }
  .article--heading-one {
    padding: 0rem 14rem 1.6rem;
  }
  .article--heading-two {
    padding: 0rem 9rem 3.2rem;
  }
}
@media screen and (min-width: 1000px) {
  .article-card {
    margin: 0 45rem 18.4rem;
  }
  .article--heading-one {
    padding: 0rem 13rem 1.6rem;
  }
  .article--heading-two {
    padding: 0rem 7rem 3.2rem;
  }
  .article-text {
    padding: 0 3rem 0;
  }
}
/* Footer */
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--green);
}
.footer--vertical-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -25%;
  z-index: 1;
}
.footer-image {
  filter: opacity(10%);
  display: block;
}
.footer-card {
  position: absolute;
  text-align: center;
  top: 25%;
}
.footer-heading {
  color: var(--white);
  padding: 0 4rem 2.4rem;
}
.footer-text {
  color: var(--white);
  padding: 0 6rem 3.2rem;
}
@media screen and (min-width: 700px) {
  .footer--vertical-line {
    top: -25%;
  }
  .footer-heading {
    padding: 0 20rem 2.4rem;
  }
  .footer-text {
    padding: 0 10rem 3.2rem;
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1000px) {
  .footer--vertical-line {
    top: -34%;
  }
  .footer-card {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: center;
    align-self: center;
  }
  .footer-heading {
    flex: 1;
    padding: 0 0 12.5rem 16.5rem;
  }
  .footer-text {
    flex: 1;
    padding: 2rem 17rem;
  }
  .footer-btn {
    margin-right: 16.5rem;
    padding: 2rem;
  }
}
/* Author */
.author {
  display: flex;
  justify-content: center;
  align-self: center;
  color: var(--white);
  font-size: 700;
}
